<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magebit\Faq\Api\FaqRepositoryInterface"
                type="Magebit\Faq\Model\FaqRepository"/>
    <preference for="Magebit\Faq\Api\Data\FaqModelInterface"
                type="Magebit\Faq\Model\FaqModel"/>
    <preference for="Magebit\Faq\Api\FaqManagementInterface"
                type="Magebit\Faq\Model\FaqManagement"/>
    <preference for="Magebit\Faq\Api\Data\FaqSearchResultInterface"
                type="Magento\Framework\Api\Search\SearchResult"/>

<!--    <virtualType name="Magebit\Faq\Model\ResourceModel\Faq\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">-->
<!--        <arguments>-->
<!--            <argument name="mainTable" xsi:type="string">magebit_faq</argument>-->
<!--            <argument name="resourceModel" xsi:type="string">Magebit\Faq\Model\ResourceModel\FaqResourceModel</argument>-->
<!--        </arguments>-->
<!--    </virtualType>-->

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magebit_faq_faq_listing_data_source" xsi:type="string">Magebit\Faq\Model\ResourceModel\Faq\Collection</item>
            </argument>
        </arguments>
    </type>

</config>
