<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Magebit_Faq::home"
            title="FAQ"
            module="Magento_Faq"
            sortOrder="1000"
            parent="Magento_Catalog::catalog_categories"
            resource="Magento_Catalog::categories"
            action="magebit_faq/faq/index"
        />
    </menu>
</config>
