.review-count {
    margin-left: calc(13px/2);
    margin-top: 5px;
    font-size: 12px;
    color: #FF5501;
    &:hover,
    &:visited {
        color: #FF5501;
        text-decoration: underline;
    }
}

.add-review-container {
    height: 26px;
    width: 115px;
    border: 1px solid #333333;
    border-radius: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#add-your-review {
    display: block;
    padding: 5px 10px;
    white-space: nowrap;

    color: #333333;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.product-reviews-summary.short {
    display: flex;
    align-items: center;
}
